.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 0 5%;
}

.tab-wrapper {
	overflow-x: hidden;
	max-width: 80vw;
	background-color: rgb(230, 230, 230);
	border-radius: 1em;
	padding: 2em 5vw;
	position: relative;
}

.tab-wrapper .icon {
	position: absolute;
	top: 0;
	width: 8vw;
	height: 100%;
	display: flex;
	align-items: center;
}

.icon:first-child {
	left: 0;
}

.icon:last-child {
	right: 0;
	justify-content: flex-end;
}

.icon img {
	width: 3vw;
	height: 3vw;
	border-radius: 50%;
	cursor: pointer;
	padding: 0.5em;
	margin: 0 1vw 0;
}

.icon img:hover {
	background-color: rgb(194, 194, 194);
}

.tab-wrapper .tab-box {
	display: flex;
	gap: 1em;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

.tab-box.dragging {
	scroll-behavior: auto;
	cursor: grab;
}

.tab-box .tab {
	font-size: 1rem;
	white-space: nowrap;
	background-color: rgb(246, 243, 243);
	padding: 0.75em 1em;
	border-radius: 25px;
	border: 1px solid rgb(123, 123, 123);
	cursor: pointer;
}

.tab-box.dragging .tab {
	user-select: none;
	pointer-events: none;
}

.tab-box .tab.active {
	color: #fff;
	background-color: rgb(78, 150, 243);
	border-color: transparent;
}

.content-box {
	display: flex;
	overflow-x: hidden;
	width: 80vw;
	border: 1px solid #000;
	background-color: rgb(255, 255, 255);
	border-radius: 1em;
	padding: 2em 5vw;
	margin-top: 2px;
	position: relative;
}

.content {
	display: none;
}

.content.active {
	display: flex;
}
